.selector {
    margin: 4rem auto; /* Margen de 4rem en la parte superior e inferior y centrado horizontalmente */
    max-width: 953px; /* Máximo ancho de 953px */
  }
  
  .selector summary {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .selector p {
    padding: 10px;
    background-color: #fff;
    margin-top: 0;
  }
  
  .selector[open] summary {
    background-color: #e0e0e0;
  }
  